<nav class="navbar navbar-light navbar-expand-md bg-white justify-content-center w-auto">
    <div class="navbar-collapse collapse w-100 text-center" id="collapsingNavbar3">
        <ul class="navbar-nav w-auto ml-auto justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-auto justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/fmarmolejom/"><img class="logos" src="../../../../assets/linkedin.png" alt="linkedin"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/pacomarm"><img class="logos" src="../../../../assets/github.png" alt="github"></a>
            </li>
        </ul>
    </div>
</nav>
<hr>